<div class="app-container">
    <header class="header">
      <h1 class="title animate__fadeIn">Welcome to NITC WayFinder</h1>
      <p class="subtitle animate__fadeIn animate__delay-1s">
        Navigate your campus like never before!
      </p>
      <div class="button-group animate__fadeIn animate__delay-2s">
        <button class="btn-primary" routerLink="/login">Login</button>
        <button class="btn-secondary" routerLink="/signup">Signup</button> 
      </div>
      <div>
        <div><button class="btn-secondary btn-admin" routerLink="/admin-login">Admin Login</button></div>
      </div>
    </header>
  </div>